

<div id="voter-form" >
	<%= simple_form_for @ballot do |f| %>
		<strong><%= f.text_field :title, @ballot.title, :readonly => true %></strong>
		<p><%= f.text_area :description, @ballot.description, :readonly => true %></p>
		<p><%= f.text_field, @ballot.end_time.to_formatted_s(:long_ordinal), :readonly => true %></p>
		<strong>Candidates</strong>
		<%= f.collection_select :  %>
		<%= f.submit "Vote", class: "btn btn-primary" %>
	<% end %>
</div>