
<div class="span6 offset3" id="ballot">
  <h3> <%= @ballot.title %> </h3>
  <p> <%= @ballot.description %> </p>
  <% unless @ballot.end_time.nil? %><p><%= @ballot.end_time.to_formatted_s(:long) %></p><% end %>
  <% if current_user.is? "moderator" %>
  	<%= link_to "Edit", :controller => :ballots, :action => :edit, :id => @ballot %>
  <% end %>
  <% if current_user.is? "voter" and @ballot.active? and !current_user.voted_on?(@ballot) %>
    <%= render "voter_form" %>
  <% else %>
  	<%= render "inactive" %>
  <% end %>
</div>
