

<div id="votes-list" class="span6 offset3" >
	<h3>Votes</h3>
	<% unless @votes.empty? %>
		<ul id="vote-widgets" >
			<% logger.debug @votes.inspect %>
			<% @votes.each_with_index do |v, i| %>
				<%= link_to :controller => :ballots, :action => :show, :id => v.candidate.ballot do %>
					<li class="vote-widget <%= get_classes(i) %>" >
						<div class="vote-title" ><%= v.candidate.title %></div>
						<div class="vote-time" ><%= v.created_at.to_formatted_s(:long) %></div>
						<div class="vote-email" ><%= v.user.email %></div>
					</li>
				<% end %>
			<% end %>
		</ul>
	<% end %>
</div>
